body{
    margin: 0;
    font-family: sans-serif;
    background-color: rgb(10, 42, 68);
}
h1{
    color: rgb(238, 151, 22);
}
.Todoapp-Div{
    width: 350px;
    margin: auto;
    margin-top: 40px;
    background: #083b65;
    padding: 10px 20px;
    text-align: center;
    border-radius: 5px;
    margin-bottom: 15px;
    box-shadow: 0px 4px 5px #0b2133;
}
.TodoListDiv{
    width: 350px;
    margin: auto;
    padding: 10px;

}
.Inputdiv{
    width: 100%;
   margin-bottom: 15px;
}
input{
    height: 35px;
    border-radius: 4px;
    border:solid 1px #fff;
    outline: none;
    padding: 3px 15px;
    width: 100%;
    box-sizing: border-box;
}
ul{
    width: 350px;
    margin: auto;
    text-align: left;
    border-radius: 5px;
    color:#fff;
    width: 100%;
    padding: 0;
}
ul li{
    background: #083b65;
    list-style-type: none;
    display: flex;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 5px;
    width: 100%;
    box-sizing: border-box;
    flex:4;
}
ul li:hover{
    background:#0670c7;
}
ul li span{
    margin-right:2px;
    flex: 5;
}
ul li i{
    cursor: pointer;
    margin-right:2px;
    text-align: right;
flex: 1;
  
}